.yellowh1{
    font-size:5vw;
    font-family: "Orbitron", sans-serif;
    color:#f9b850;
    margin-left :100px;
    margin-top: 18vw;
}
.whiteh1{
    font-size:5vw;
    font-family: "Orbitron", sans-serif;
    margin-left:100px;
    margin-top:-2vw;
    color:white;
}
body{
    background-image: url(img/Background_VioletAlpha.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Russo One", sans-serif;
}

.button1{
    background-color: #8c52ff;
    border:none;
    text-align: left;
    border-radius: 40px;
    color: white;
    padding: 12px;
    margin-left: 100px;
    margin-top:10px;
    font-size: 20px;
    font-family: "Russo One", sans-serif;
}
.button2{
    background-color: #ffffff;
    border:none;
    text-align: center;
    border-radius: 100px;
    color: black;
    padding: 5px;
    margin-left: 5px;
    font-size: 20px;
    font-family: "Russo One", sans-serif;
}

.navbar{
    cursor: pointer;
    color:white;
    font-size: 1vw;
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    margin-left: 5vw;
}
.nav-link{
    color:white;
    font-size: 1vw;
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    margin-right: 3vw;
}

.nav-link:visited, .navbar:visited{
    color:white;
}
.nav-link:hover, .navbar:hover{
    color:#f9b850;
}
.nav-link:active, .navbar:active{
    color:#f9b850;
}

.navbar-static-top{
    width:95%;
    margin:0 auto;
    color:white;
    border-bottom: 1px solid #ffffff;
}
.navbar-dark .navbar{
    cursor: pointer;
    color:white;
    font-size: 1vw;
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    margin-left: 5vw;
}
.navbar-dark .navbar-nav .nav-link{
    color:white;
    font-size: 1vw;
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    margin-right: 3vw;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #f9b850;
}
.navbar-dark .navbar:hover {
  color: #f9b850;
}
.button1:hover {
  animation: shake 3s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
  animation-iteration-count: infinite;
}

@keyframes shake {
  5%, 100% {
    transform: translate3d(-2px, 0, 0);
  }
  10%, 95% {
    transform: translate3d(2px, 0, 0);
  }
  
  15%, 80%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  20%, 85% {
    transform: translate3d(2px, 0, 0);
}
}