.yellowh1{
    font-size:5vw;
    font-family: "Orbitron", sans-serif;
    color:#f9b850;
    margin-left :100px;
}
.whiteh1{
    font-size:5vw;
    font-family: "Orbitron", sans-serif;
    margin-left:100px;
    margin-top:-2vw;
    color:white;
}
.yellowh2{
    font-size:2vw;
    font-family: "Orbitron", sans-serif;
    color:#f9b850;
    margin-top: -9vw;
    margin-left: 2vw;
}
.yellowh1p2{
    font-size:5vw;
    font-family: "Orbitron", sans-serif;
    color:#f9b850;
    margin-left :7vw;
    margin-right: 7vw;
    text-align: center;
}
.whiteh1p2{
    font-size:5vw;
    font-family: "Orbitron", sans-serif;
    margin-left :7vw;
    margin-right: 7vw;
    margin-top:-2vw;
    color:white;
    text-align: center;
}
.button1{
    background-color: #8c52ff;
    border:none;
    text-align: left;
    border-radius: 40px;
    color: white;
    padding: 12px;
    margin-left: 100px;
    margin-top:10px;
    font-size: 20px;
    font-family: "Russo One", sans-serif;
}
.button2{
    background-color: #ffffff;
    border:none;
    text-align: center;
    border-radius: 100px;
    color: black;
    padding: 5px;
    margin-left: 5px;
    font-size: 20px;
    font-family: "Russo One", sans-serif;
}

.navbar{
    cursor: pointer;
    color:white;
    font-size: 1vw;
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    margin-left: 5vw;
}
.nav-link{
    color:white;
    font-size: 1vw;
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    margin-right: 3vw;
}

.nav-link:visited, .navbar:visited{
    color:white;
}
.nav-link:hover, .navbar:hover{
    color:#f9b850;
}
.nav-link:active, .navbar:active{
    color:#f9b850;
}

.navbar-static-top{
    width:95%;
    margin:0 auto;
    color:white;
    border-bottom: 1px solid #ffffff;
}
.navbar-dark .navbar{
    cursor: pointer;
    color:white;
    font-size: 1vw;
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    margin-left: 5vw;
}
.navbar-dark .navbar-nav .nav-link{
    color:white;
    font-size: 1vw;
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    margin-right: 3vw;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #f9b850;
}

.button1:hover {
  animation: shake 3s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
  animation-iteration-count: infinite;
}

@keyframes shake {
  5%, 100% {
    transform: translate3d(-2px, 0, 0);
  }
  10%, 95% {
    transform: translate3d(2px, 0, 0);
  }
  
  15%, 80%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  20%, 85% {
    transform: translate3d(2px, 0, 0);
}
}

@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end{ right:0; left: auto;  }
	.navbar .nav-item .dropdown-menu{  display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;  }
	.navbar .nav-item:hover .nav-link{ color: #f9b850;  }
	.navbar .dropdown-menu.fade-down{ top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%; }
	.navbar .dropdown-menu.fade-up{ top:180%;  }
	.navbar .nav-item:hover .dropdown-menu{ transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg); }
}	
.landing-page{
    padding-top: 18vw;
    padding-bottom: 25vw;;
    background-image: url(img/Background_VioletAlpha.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Russo One", sans-serif;
}
.page2{
    background-image: url(img/lefthue_purple_backgroud.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Russo One", sans-serif;
    padding-top: 10vw;
    padding-bottom: 20vw;
}
.page3{
    background-image: url(img/righthue_purple_background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Russo One", sans-serif;
    padding-top: 10vw;
    padding-bottom: 40vw;
}
.page4{
    background-image: url(img/lefthue_purple_backgroud.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Russo One", sans-serif;
    padding-top: 10vw;
    padding-bottom: 5vw;
}
.page5{
    background-image: url(img/righthue_purple_background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Russo One", sans-serif;
    padding-top: 6vw;
    padding-bottom: 5vw;
}
.page6{
    padding-top: 12vw;
    padding-bottom: 10vw;
    background-image: url(img/Mouse_background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Russo One", sans-serif;
}
.p-white{
    color:white;
    font-size: 2vw;
    font-family: "Russo One", sans-serif;
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 7vw;
    text-align: center;
}
.column {
    float: left;
}
.left {
    width: 65%;
}
.right{
    width: 35%; 
}
.row:after {
    content:"";
    display: table;
    clear: both;
  }
.column33{
    float: left;
    width: 33%;
}
.whitebg{
    background-color: white;
    margin-top: 10vw;
    margin-left: 7vw;
    margin-right: 7vw;
    border-radius: 10%;
    position: absolute;
    padding-bottom: 2vw;

}
div.octagon {
    clip-path: polygon(33.33% 0%, 66.66% 0%, 100% 33.33%, 100% 66.66%, 66.66% 100%, 33.33% 100%, 0 66.66%, 0 33.33%);
    z-index: 9;
    margin: 30px;
    position: relative;
    top: -10vw;
  }
  div.octagonPurple {
    clip-path: polygon(33.33% 6%, 66.66% 0%, 100% 33.33%, 100% 55%, 66.66% 90%, 33.33% 100%, 0% 60%, 5% 25%);
    background-color: #9344f379;
    background-blend-mode:hue;
    margin-top: 5vw;
    margin-left: 7vw;
    font-size: 2vw;
    height: 30vw;
    width: 30vw;
    color:#f9b850;
    font-size: 2.5vw;
    font-family: "Russo One", sans-serif;
    padding-top: 6vw;
    padding-left: 5vw;
  }
  div.purplebox{
    background-color: #7c36d2;
    border-radius:15px;
    margin-left: 7vw;
    margin-top: 3vw;
    font-size: 2vw;
    color: #f9b850;
    padding-left: 3vw;
    padding-top: 1vw;
    height: 10vw;
    width: 40vw;
  }
div.purplechat{
    margin-top: 16vw;
    margin-left: 12vw;
}
div.pinkchat{
    margin-top: 5vw;
    margin-left: 3vw;
}
div.yellowchat{
    margin-top: 10vw;
    margin-left: 3vw;
}