body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-image: url(../img/lefthue_purple_backgroud.png);
}

.app {
    overflow: auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.footer {
    position: relative;
    width: 91%;
    padding-left: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: auto;
    align-self: flex-end;
}

input[type="text"] {
    font-style: italic;
    font-weight: 300;
    font-size: 25px;
    border: 1px solid;
    border-radius: 30px;
    padding: 1.5rem;
    min-width: 50%;
    width: auto;
}

.send-button {
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 25px;
    border: 0;
    background: linear-gradient(180deg, #9244F3 6.39%, #ED4DEB 98.7%);
    color: white;
    cursor: pointer;
}
.send-button:active {
    transform: translateY(1px);
}
.send-icon {
    width: 3rem;
    height: 3rem;
    margin: auto;
}
.chat{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    overflow-y: scroll;
    max-height: 80%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    height: inherit;
}
.message-container{
    display: flex;
    flex-direction: column;
    height: max-content;
    flex-wrap: wrap;
    width: auto;
}
.message {
    flex-direction: column;
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1rem;
    max-width: 50%;
    position: relative;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40px;
}
.message-user {
    background-color: #9244F3;
    border-radius: 30px 30px 0 30px;
    align-self: flex-end;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40px;

}
.message-partner {
    background-color: #ED4DEB;
    border-radius: 0 30px 30px 30px;
    align-self: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 40px;
}
.author {
    font-size: 20px;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    color: #717171;
}

.content {
    background: white;
    border-radius: 25px;
    border: 5px solid #f9b850;
    padding: 2rem;
    width: 40vw;
    height: 40vw;
    display: flex;
    flex-direction: column;
    }
.header{
    height:fit-content;
    overflow: hidden;
    font-family: "Orbitron", sans-serif;
    
}
