.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 80vw;
    height: 100vh;
    background-image: url(../img/lefthue_purple_backgroud.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 3em;
    padding-left: 10vw;
    padding-right: 10vw;
}

.login-header {
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 47px;
}

.login-name-input {
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    border-radius: 30px;
    padding: 10px;
    font-weight: 300;
    font-size: 25px;
    line-height: 39px;
}

.login-consent-group {
    flex-direction: row;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    gap: 1em;
}

.login-button-base {
    border-radius: 50px;
    font-style: "Russo One", sans-serif;
    font-weight: 900;
    font-size: 100%;
    color: #FFFFFF;
    padding: 1rem 3rem 1rem 3rem;
    cursor: pointer;
    border-width: 1px;
    width: 50%;
    align-self: center;
    margin: 1rem;
}

.login-button {
    background: #f9b850;
    border-style: solid;
    border-color: transparent;
    font-family: "Russo One", sans-serif;

}



button:active {
    transform: translateY(1px);
}

.login-button-disabled {
    background-color: gray;
    cursor: not-allowed;
    font-family: "Russo One", sans-serif;
}

input[type="checkbox"] {
    accent-color: #f9b850;
    
}

.whiteh1{
    font-size:5vw;
    font-style: "Orbitron";
    margin-left:20px;
    margin-top:-2vw;
    color:white;
    align-self: center;
}
.left{
    float: left;
    width: 40%;
    padding: 5px;
    display: flex;
    justify-content: center;
    font-family: "Orbitron", "sans-serif";
}
.right{
    float: right;
    width: 60%;
    padding: 5px;
    align-items: right;
    display: flex;
    flex-direction: column;
}

.row{
    display:flex;

}

#login-username{
    margin: 1rem;
}

.orangeh1{
    color: #f9b850;
}

@media only screen and (max-width: 600px) {
    .row{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #login-username{
        font-size: 1rem;
        height: 4rem;
    }
    .right{
        width: 100%;
    }
    .left{
        width: 100%;
        align-items: center;
        padding: 1rem;
    }
    .whiteh1{
        font-size: 3rem;
        margin: auto;
    }

  }